{
  "env": {
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "quote-props": [
      "error",
      "as-needed"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-extra-semi": "error",
    "no-trailing-spaces": "error",
    "no-spaced-func": "error",
    "keyword-spacing": "error",
    "space-before-blocks": "error",
    "space-infix-ops": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-console": "error",
    "no-extra-parens": "error",
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-undef": "error",
    "no-octal": "error",
    "no-redeclare": "error",
    "arrow-parens": "error",
    "arrow-body-style": [
      "error",
      "as-needed",
      {
        "requireReturnForObjectLiteral": true
      }
    ],
    "arrow-spacing": "error",
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "no-class-assign": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "require-yield": "error",
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "comma-spacing": "error"
  }
}
